.netrwhist
scripts/activespace
node_modules
extra/homebrew/Brewfile.lock.json
tags
Session.vim
files/.bashrc.local
*.pdf
*.log
files/.config/coc/*
.DS_Store
*.lua
*.vim
files/.config/Microsoft*
files/.config/NuGet
files/.config/.mono
files/.config/xbuild
